{% extends "mainLayout.html" %}

{% block content %}

  <!-- Login Form -->
  <div class="signup-box" data-aos="fade-up">
    <h2 class="text-center mb-4">User Login</h2>
    {% with message = get_flashed_messages() %}
    {% if message %}
    {% for msg in message %}
     <p class="alert alert-danger">{{msg}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/userLogin" method="post">
      
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" name="email" id="email" class="form-control">
      </div>
     
      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <p class="text-center mt-3">New User? <a href="/userSignup">SingUp Now</a></p>
  </div>

{% endblock %}
