{% extends "userLayout.html" %}

{% block content %}

  <!-- Login Form -->
  <div class="signup-box" data-aos="fade-up">
    <h2 class="text-center mb-4">Change Password</h2>
    {% with message = get_flashed_messages() %}
    {% if message %}
    {% for msg in message %}
     <p class="alert alert-danger">{{msg}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/userPassword" method="post">
      
      <div class="mb-3">
        <label for="password" class="form-label">Old Password</label>
        <input type="password" name="oldPassword"  class="form-control">
      </div>
     
      <div class="mb-4">
        <label for="password" class="form-label">New Password</label>
        <input type="password" name="newPassword"  class="form-control">
      </div>
      <button type="submit" class="btn btn-primary w-50">Change</button>
    </form>
    
  </div>

{% endblock %}
